app:
  title: Rosenes Backstage App
  baseUrl: http://localhost:3000
  backendUrl: http://localhost:8080

organization:
  name: Rosene

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  csp:
    connect-src: [ "'self'", 'http:', 'https:' ]
  cors:
    origin: [ 'http://localhost:3000', 'http://localhost:7007', 'https://kv-ros-backstage-245zlcbrnq-lz.a.run.app/' ]
    methods: [ GET, HEAD, PATCH, POST, PUT, DELETE ]
    credentials: true
  database:
    client: better-sqlite3
    connection: ':memory:'

integrations:
  github:
    - host: github.com
      apps:
        - appId: ${GITHUB_APP_ID}
          privateKey: ${GITHUB_APP_PK}
          webhookSecret: ${GITHUB_APP_WEBHOOK_SECRET}
          clientId: ${GITHUB_APP_CLIENT_ID}
          clientSecret: ${GITHUB_APP_CLIENT_SECRET}

techdocs:
  builder: 'local' # Alternatives - 'external'
  generator:
    runIn: 'local' # Alternatives - 'local'
  publisher:
    type: 'local' # Alternatives - 'googleGcs' or 'awsS3'. Read documentation for using alternatives.

auth:
  environment: development
  providers:
    microsoft:
      development:
        clientId: ${AZURE_CLIENT_ID}
        clientSecret: ${AZURE_CLIENT_SECRET}
        tenantId: ${AZURE_TENANT_ID}
        domainHint: ${AZURE_TENANT_ID}
        additionalScopes:
          - Mail.Send

    microsoftOrgGraph:
      development:
        clientId: ${AZURE_CLIENT_ID}
        clientSecret: ${AZURE_CLIENT_SECRET}
        tenantId: ${AZURE_TENANT_ID}
        domainHint: ${AZURE_TENANT_ID}
        additionalScopes:
          - Mail.Send

    github:
      development:
        clientId: ${GITHUB_APP_CLIENT_ID}
        clientSecret: ${GITHUB_APP_CLIENT_SECRET}
        callbackUrl: http://localhost:7007/api/auth/github/handler/frame


scaffolder: { }

catalog:
  rules:
    - allow: [ Component, Group, User, Resource, Location, Template, System ]
  locations:
    - type: file
      target: ../../examples/template/template.yaml
      rules:
        - allow: [ Template ]
    - type: file
      target: ../../examples/org.yaml
      rules:
        - allow: [ User, Group ]
  providers:
    githubOrg:
      - providerId:
        organization: 'bekk'
        catalogPath: '.security/catalog-info.yaml'
        filters:
          branch: 'main'
          repository: '^kv-ros-.*$'
        schedule:
          frequency: { minutes: 1 }
          timeout: { minutes: 3 }

      - providerId:
        organization: 'spire-test'
        catalogPath: '.security/catalog-info.yaml'
        filters:
          branch: 'main'
          repository: '*'
        schedule:
          frequency: { minutes: 1 }
          timeout: { minutes: 3 }

    microsoftGraphOrg:
      default:
        tenantId: ${AZURE_TENANT_ID}
        user:
          filter: accountEnabled eq true and userType eq 'member'
        group:
          filter: >
            securityEnabled eq false
            and mailEnabled eq true
            and groupTypes/any(c:c+eq+'Unified')
        schedule:
          frequency: PT1H
          timeout: PT50M