.badge {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 24px;
  text-align: center;
  font-size: 12px;
  width: fit-content;
}

.iconBase {
}

.outdatedIcon {
  color: var(--ros-outdated);
}

.veryOutdatedIcon {
  color: var(--ros-very-outdated);
}

.updatedIcon {
  color: var(--ros-updated);
}

.emptyIcon {
  color: transparent;
}
